$header   : #922610;
$h-line   : #e69a28;
html, body {
  background-color: $back;

  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: $body;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
  font-variant: small-caps;
  font-weight: 300;
  color: $header;
}
h1 {
  font-size: 2.5em;
  header & {
    font-size: 1.5em;
    font-weight: 900;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: justify;
    margin-top: 1em;
  }
  & + p.subtitle {
    margin-top: -1.5em;
    margin-bottom: 2.5em;

    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
  }
}
h2 { font-size: 2.0em; }
h3 {
  border-bottom: 2px solid $h-line;
  font-size: 1.8em;
}
h4 { font-size: 1.5em; }
h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
}
h5 { font-size: 1.5em; }
h6 { font-size: 1.0em; }

a {
  text-decoration: none;
  color: $link;
  &:visited { color: $link; }
  &:hover, &:active { color: $alink; }
}

header {
  overflow: auto;
  background-color: transparent;
  margin-bottom: 3em;

  p.version {
    margin-top: -3.5em;
    margin-bottom: 4em;

    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
  }
}

ul {
  text-align: justify;
  li {
    list-style-type: none;
    margin-left: 2em;
  }
}

p.links {
  text-align: center;
  font-size: 1.4em;
  a { font-weight: 600; }
}
